@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
    font-family: "San Francisco";
}

/* Top Nav */
.nav-link {
    font-size: 30px;
}
a.underline:hover {
    border-bottom: 2px solid #1d518c;
    padding-bottom: 1px;
}
/* TODO: fix this in a better way for the top nav */
.black {
    color: black !important;
}
a {
    color: black;
}
.resume-link {
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.resume-link:hover {
    color: black;
    text-decoration: none;
}
img.project-circle {
    /* don't stretch Bootstrap's columns. */
    max-width: 100%;
}