@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
    font-family: "San Francisco Medium";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
@font-face {
    font-family: "San Francisco Semibold";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
@font-face {
    font-family: "San Francisco Italic";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscotext-regularitalic-webfont.woff");
}
@font-face {
    font-family: "San Francisco Bold";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/* Common styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #EFF7FF;
    font-family: "San Francisco";
    margin-bottom: 40px; /* Margin bottom by footer height */
    min-width: 300px;
}
a.menu-underline:hover {
    border-bottom: 2px solid #1d518c;
    padding-bottom: 1px;
}
a {
    color: black;
}
strong {
    font-family: "San Francisco Bold";
}
i {
    font-family: "San Francisco Italic";
    font-style: normal;
}
.col-md-4 img {
    /* Don't stretch Bootstrap's columns. */
    max-width: 100%;
}

#landing .col-md-4 img {
    max-height: 250px;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

a.underline {
    text-decoration: underline;
}

/* Header */
nav.navbar {
    margin-bottom: 40px; 
 }
.navbar-brand img {
    float: left;
}

.navbar-brand div {
    float: left;
}

.title {
    margin-top: 10px;
    margin-left: 20px;
}
.title h1 {
    color: black;
    font-family: "San Francisco Bold";
    font-size: 30px;
}
.title h2 {
    color: #1d518c;
    font-weight: normal;
    font-size: 22px;
}

/* Top Nav */
.nav-link {
    font-size: 30px;
    font-family: "San Francisco Semibold";
}

/* Footer (fixed) */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
}

/* Landing page */
#landing .row.project > div.col-md-8 {
    padding-top: 50px;
}
#landing > .project {
    margin-top: 30px;
    margin-bottom: 30px;
}
#landing {
    margin-bottom: 60px;
}

/* Projects page */
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

/* On desktop screens */
@media (min-width: 1500px) {
    /* Give the carousel a common height so elements below it don't keep popping up and down */
    #projectSelectionCarousel {
        height: 463px;
    }
}

/* Center the elements for each project. */
#project .carousel-item.project-overview.active, #project .carousel-item.project-overview.carousel-item-next, #project .carousel-item.project-overview.carousel-item-prev {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Make the carousel navigation icons black. */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev {
    justify-content: flex-start;
}
.carousel-control-next {
    justify-content: flex-end;
}
.project-overview>img, .project-overview>a {
    margin: 0 1%;
    max-width: 40%;
}
.project-overview>a>img {
    max-height: 100%;
    max-width: 100%;
}

/* Styles for individual paragraphs in the various case studies. */

#project .row {
    padding: 30px 15px;
    font-weight: 25px;
    justify-content: center;
}
#project .row img.back-to-top {
    max-height: 30px;
}
#project .row .content {
    font-size: 20px;
    max-width: 659px;
    text-align: center;
}
#project .row .content .quote {
    color: #4A4A4A;
    font-family: "San Francisco Italic";
}
#project .row .content h1 {
    font-family: "San Francisco Bold";
}
#project .row .content h2 {
    color: #1D518C;
    font-family: "San Francisco Semibold";
    margin-top: 40px;
}
#project .row .content > h2:first-child {
    margin-top: 0;
}
#project .row .content h3 {
    color: #000;
    font-family: "San Francisco Bold";
}
#project .row .content .row.heading {
    padding-bottom: 0;
}
#project .row .content .row.heading + .row {
    padding-top: 0;
}
#project .row .content .col-md-6 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
#project .row .content .semi-transparent {
    opacity: 0.6;
}
#project .row .content .indent {
    margin-left: 20%;
}
#project .row .content img {
    max-width: 100%;
}
#project .row .content .vertical-middle {
    display: flex;
    vertical-align: middle;
}
#project .row .content .no-padding {
    padding: 0;
}
#project .row .content .special-quote {
    color: #4a4a4a;
    font-size: 15px;
    font-family: "San Francisco Italic";
}

/* VenturX */

.venturx2 {
    background-color:#003d66;
    color: #fff;
}
.venturx2 p:last-child {
    color: #4a90e2;
    font-size: 25px;
}
.venturx2 p:last-child a {
    color: #4a90e2;
    text-decoration: underline;
}

.venturx3 {
    background-color: #fff;
    color: #000;
}
.venturx3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.venturx4 {
    background-color: #d3dae0;
    color: #000;
}
.venturx4 a {
    text-decoration: underline;
}
.venturx4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.venturx5, .venturx7, .venturx9, .venturx11, .venturx13 {
    background-color: #fff;
}

.venturx6 {
    background-color: #d7dee4;
}

.venturx8, .venturx10, .venturx12 {
    background-color: #e1e8ee;
}

/* VATJSS */

.vatjss2 {
    background-color: #7F1E1C;
    color: #EAEAEA;
}
.vatjss2 p:last-child {
    color: #BBD7E0;
}
.vatjss2 p:last-child a {
    color: #BBD7E0;
    text-decoration: underline;
}
.vatjss4, .vatjss6 {
    background-color: #d8dfe5;
}
.vatjss8, .vatjss10 {
    background-color: #e1e8ee;
}

/* Big Fit Girl */

.bfg2 {
    background-color: #000;
    color: #fff;
}
.bfg2 a {
    color: #fff;
    text-decoration: underline;
}
.bfg4, .bfg6 {
    background-color: #d8dfe5;
}
.bfg8, .bfg10 {
    background-color: #e1e8ee;
}

/* About page */
#about {
    margin-left: 20px;
    margin-right: 20px;
}
#about #subtitle {
    color: #1D518C;
    font-family: "San Francisco Medium";
    font-size: 30px;
}
#about .intro {
    margin-bottom: 60px;
    text-align: center;
}
#about .blurb {
    margin-top: 50px;
}
#about .blurb h1 {
    font-family: "San Francisco Bold";
    font-size: 30px;
}
#about h2 {
    color: #1D518C;
    font-family: "San Francisco Bold";
    font-size: 25px;
    text-align: center;
}
#about p {
    font-size: 20px;
}
#about .quote {
    font-size: 20px;
    padding: 25px 50px 25px 50px;
}
#about .subjects {
    margin: 35px auto 55px auto;
}
#about .subject {
    font-size: 20px;
    text-align: center;
}
#about .final {
    margin-bottom: 100px;
}

/* Writing page */
#articles {
    margin-left: 20px;
    margin-right: 20px;
}
.article {
    margin-top: 40px;
    margin-bottom: 40px;
}
.article .article-date {
    color: #4A4A4A;
    font-size: 20px;
    margin-bottom: 0;
}

.article .article-title {
    color: #000;
    font-family: "San Francisco Bold";
    font-size: 30px;
}

.article .article-blurb {
    color: #000;
    font-size: 20px;
    padding-left: 2em;
}

.article .article-blurb a {
    color: #007bff;
}
.article .article-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.article hr {
    margin-top: 0;
    margin-bottom: 80px;
}
